*{
	margin: 0;
	padding: 0;
	background-color: pink;
}

.contenido{
	margin: 5ox;
	display: flex;
	justify-content: center;
	align-content: center;
}

.contenido ul{
	list-style: none;
}

.tabla, th, td{
	margin: 10px;
	font-size: 20px;
  	border: 1px solid black;
  	font-family: 'Noto Sans JP', sans-serif;
}

.tabla th{
	text-align: center;
	background-color: pink;
	color: black;
	padding: 10px;
}

.tabla td{
	color: blue;
	padding: 10px;
}